# Fichiers de données
*.csv
*.db

# Dossiers de données
data/

# Clés API et environnement
.env

# Dossiers Python
venv/
__pycache__/

# Système
.DS_Store
Thumbs.db

# Fichier de logs
*.log

# Fichiers des dépendances
*.txt